@media only screen and (max-width: 1024px) and (min-width:320px){
    header{
        margin: 0 .5rem;
    }
    nav{
       display: none;
}

.icons{
    display: none;
}
    .ab, .ab1{
    display: none   ;
}
.logo{
    position: absolute;
    width: 15%;
    border-radius: 3.5rem;
}
.hero{
    left: 1%;
    top: 22%;
    padding: 1rem 3rem;
}
.skil{
    font-size: 1rem;
}
#aboutMe{
    margin: 5rem .5rem;
    padding: 1rem .5rem;
}
#aboutMe p{
    padding: 0 .5rem;
    font-size: .9rem;
}
.abt-sel{
    margin-top: 1rem;
}
hr{
    position: absolute;
    width: 25%;
    left: 40.9%;
    top: 113.8%;
    border-top: #ff4500  1px solid;
    
}
footer{
    padding: 1rem 0;
}
.social-links{
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem .8rem;
    gap: .1rem;
}
.pre-footer p{
    font-size: .9rem;
}
.footer-icons p{
    padding: 1rem 0;
}
.footer-icons a:nth-child(1){
    padding-left: 0;
}
.footer-links p{
    font-size: .9rem;
}
.gallery img{
    width: 290px;
}
video{
    width: 290px;

}
/*footer{
    padding: 0;
}
.social-links{
    width: 107%;
    flex-direction: column;
} */
}