@media only screen and (max-width: 1024px) and (min-width:320px){
    header{
        margin: 0 .5rem;
        display: flex;
        justify-content: space-between;
    }
    nav{
       display: none;
}
.mq{
    display: flex;
    z-index: 5;

}
.mq ul{
    padding: .1rem;
    margin-top: .8rem;
}
.mq ul li{
    padding: .4rem;
}
.mq ul li{
    display: inline;
    color: white;
    font-size: .7rem;
}
.mq ul li a{
    padding: .1rem;
}
.mq ul li a:hover{
    font-size: .9rem;
    color: #ff4500;
    transition: 1s ease-in-out;
}

.icons{
    display: none;
}
    .ab, .ab1{
    display: none   ;
}
.logo{
    max-height: 100px;
    width: 13%;
    border-radius: 3.5rem;
}
.hero{
    left: 1%;
    top: 15%;
    padding: 1rem 3rem;
}
.skil{
    font-size: 1rem;
}
.hero button a{
    font-size: 1.3rem;
}
#aboutMe{
    margin: 5rem .5rem;
    padding: 1rem .5rem;
}
#aboutMe p{
    padding: 0 .5rem;
    font-size: .9rem;
}
.abt-sel{
    margin-top: 1rem;
}
hr{
    position: absolute;
    width: 25%;
    left: 40.9%;
    top: 113.8%;
    border-top: #ff4500  1px solid;
    
}
footer{
    padding: 1rem 0;
}
.social-links{
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem .8rem;
    gap: .1rem;
}
.pre-footer p{
    font-size: .9rem;
}
.footer-icons p{
    padding: 1rem 0;
}
.footer-icons a:nth-child(1){
    padding-left: 0;
}
.footer-links p{
    font-size: .9rem;
}
.gallery img{
    width: 290px;
}
video{
    width: 290px;

}

/*footer{
    padding: 0;
}
.social-links{
    width: 107%;
    flex-direction: column;
} */
}